<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pagina de respostas</h1>

    

        <p> <%= pergun.titulo  %>  </p>

        <form action="/respondendo/pergunta" method="post">

            <input type="hidden" name="id" value="<%= pergun.id  %> ">
            <textarea type="text" name="texto" placeholder="responda essa pergunta"></textarea>
            <button type="submit">responder</button>

        </form>


        <div>                   
            <h1> respontas dessas perguntas </h1>
            <%   respostas.forEach(re =>{  %>

                <p> <%= re.resposta %> </p>

            <%  }) %>
        </div>


  
    
</body>
</html>